/* Styling for the sliding button */
.theme-toggle {
    position: relative;
    width: 60px;
    height: 34px;
}

.theme-toggle input {
    display: none;
}

.theme-toggle label {
    display: block;
    width: 50px;
    height: 26px;
    background: #f2f2f2;
    border-radius: 34px;
    cursor: pointer;
    position: fixed;
    bottom: 0px;
    transition: 0.4s;
}

.theme-toggle label:after {
    content: '';
    width: 20px;
    height: 20px;
    background: #292929;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: 0.4s;
}

.theme-toggle input:checked + label {
    background: #007BFF;
}

.theme-toggle input:checked + label:after {
    left: 28px; /* Move the slider to the right */
}