/* Utility classes */
.animate {
    animation-duration: .75s;
    animation-fill-mode: both;
  }
  
  .animate.animate--infinite {
    animation-iteration-count: infinite;
  }
  
  .animate.animate--delay-1s {
    animation-delay: 1s;
  }
  
  .animate.animate--fast {
    animation-duration: 0.1s;
  }
  
  .animate.animate--slow {
    animation-duration: 3s;
  }
  
  /* Animations */
  @keyframes slideInLeft {
    from {
      transform: translateX(-700px);
    }
  
    to {
      transform: translateX(0);
    }
  }
  
  .slideInLeft {
    animation-name: slideInLeft;
    animation-timing-function: ease-in;
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(300px);
    }
  
    to {
      transform: translateX(0);
    }
  }
  .title {
    color: #007BFF;
    font-size: 16px;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    transform: translateY(250px);
  }
  body {
    background-color: #292929;
  }
  .fadein {
    opacity: 0;
    animation: FadeIn 3s forwards;
    animation-delay: 1s;
  }
  @keyframes FadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  form {
    text-align: center;
    margin: 10px;
    font-size: 16px;
    color: #003E8A;
    transform: translateY(450px);
}
label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}
select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
button:active {
  background-color: #003E8A;
}
.base {
  color: #949292;
}
.bold {
  color: #007BFF;
}