/* Utility classes */
.animate {
    animation-duration: .75s;
    animation-fill-mode: both;
  }
  
  .animate.animate--infinite {
    animation-iteration-count: infinite;
  }
  
  .animate.animate--delay-1s {
    animation-delay: 1s;
  }
  
  .animate.animate--fast {
    animation-duration: 0.1s;
  }
  
  .animate.animate--slow {
    animation-duration: 3s;
  }
  
  /* Animations */
  @keyframes slideInLeft {
    from {
      transform: translateX(-700px);
    }
  
    to {
      transform: translateX(0);
    }
  }
  
  .slideInLeft {
    animation-name: slideInLeft;
    animation-timing-function: ease-in;
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(300px);
    }
  
    to {
      transform: translateX(0);
    }
  }
  .title {
    color: aqua;
    font-size: 16px;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    transform: translateY(250px);
  }
  body {
    background-color: #292929;
  }
  .fadein {
    opacity: 0;
    animation: FadeIn 3s forwards;
    animation-delay: 1s;
  }
  @keyframes FadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }